<h1>Your faves</h1>

  <a href="/tvshows">Add Tv-Show</a>

  <br>
<%#= link_to("Edit Tv-Show", "/tvshows/#{@tvshow.id}/edit") %>

  <ul>

    <% @current_user.tvshows.each do |tvshow| %>

      <div>

        <li>

          <%= link_to("/tvshows/#{tvshow.id}") do %>
            <%= image_tag tvshow.image %>
            <p><%= tvshow.title %></p>
          <% end %>

              <br>
            <%= link_to("Delete Tv Show", "/tvshows/#{tvshow.id}/remove") %>
        </li>



      </div>

    <% end %>

  </ul>
