<h1>Your faves</h1>

<ul>

  <%= @current_user.tvshows.each do |tvshow| %>

    <div>

      <li>

        <%= link_to(tvshow.title, "/tvshows/#{tvshow.id}") %>

      </li>

    </div>

  <% end %>

</ul>
