<ul class="container">
  <h1 class="center">All Tv-Shows</h1>

  <div class="row">
    <% @all_tvshows.each do |tvshow| %>
    <li>
      <div class="col s4 center">
        <div class="image">
          <%= image_tag( tvshow.image, { :class => "splashPage"})%></div>
        <%= link_to(tvshow.title, "/tvshows/#{tvshow.id}") %>
      </div>
    </li>

    <% end %>
  </div>
</ul>
<!-- <img class="responsive-img" src="@tvshow.image"> -->
