<div class="container center">

  <h1>WELCOME to TiViSh!!</h1>
      <br>
      <div class="divider"></div>

    <h3><a href="/login">Log In</a></h3>
      <div class="divider"></div>
      <br>

  <h5>Not a User, yet? Register now!</h5>

  <h3><a href="/users/new" class="Sign Up">Sign Up Here</a></h3>

</div>
